<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">AngularJS</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
        <form>
          <input class="form-control" placeholder="Buscar" ng-model-options="{debounce: 2000}" ng-model="filtro" />
        </form>
    </div>
  </div>
  <div class="row">
    <my-panel class="col-md-2" ng-repeat="foto in fotos | filter: filtro" titulo="{{foto.titulo}}">
      <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
      <img src="{{foto.url}}" alt="{{foto.titulo}}" class="mg-responsive center-block" />
    </my-panel>
  </div>
</div> <!-- fim container -->
