<!DOCTYPE>
<html>
  <body>
    <form action="salvar" method="post">
      <label for="titulo">Titulo</label>
      <input type="text" name="titulo" />

      <label for="descricao">descricao</label>
      <textarea  name="descricao" ></textarea>

      <label for="preco">preco</label>
      <input type="text" name="preco" />

      <input type="submit" value="Salvar" />
    </form>
  </body>
</html>
